ion-tabs{
    ion-fab{
       
       ion-fab-button{
           /* display: flex;
           justify-content: center;
           align-items: center;
           margin-left: auto;
           margin-right: auto;	 */		
           margin-bottom: 3px;
                   
        }
    }
   
    ion-tab-bar{	
       --border: 0;
       
       
       position: absolute;
       bottom: 0;
       left:0; right: 0;	 
       box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
       &:after{
           content: " ";
           width: 100%;
           bottom: 0;
           background: var(--ion-color-primary);
           height: env(safe-area-inset-bottom);
           position: absolute;
       }

       ion-tab-button {
           --background: var(--ion-color-primary);
       }
       ion-tab-button.comments {
           margin-right: 0px;
           border-top-right-radius: 3px;
       }
       ion-tab-button.notifs {
           margin-left: 0px;
           border-top-left-radius: 3px;
       }

       .division {
           width: 70px;
           height: 70px;
           margin-bottom: 30px;			
           margin-left: auto;
           margin-right: auto;
           background-color: rgb(213, 206, 213);
           border-radius: 100%;
           
                       
           //fill: #2A4072
               
       }
    }

    
}