
ion-list{
    
        ion-item-sliding{
            ion-item-options{
                ion-item-option{
                   
                    border-radius: 30%;
                    box-shadow: 0 0 3px 3px #95afc0;
                    margin-left: 1%;
                    
                }
                
            }
        }
       
   
    
}
